# Xcode
DerivedData/
build/
*.xcworkspace
!*.xcodeproj/project.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
*.swp
*.swo
*~
.idea/
.vscode/

# Misc
*.ipa
*.dSYM.zip
*.dSYM
